<div class="article">
	<div class="a-preview"><a href="/maintenance"><img src="{{ thumbnail }}" alt="{{ title }}"></a></div>
	<div class="a-content">
		<div class="a-title"><a href="/maintenance">{{ title }}</a></div>
		<div class="a-desc">{{ description }}</div>
		<div class="a-tags">
			{% for tag in tags %}
				<div class="a-tag tag-purple">{{ tag }}</div>
			{% endfor %}
		</div>
	</div>
</div>