
{% if type == "project" %}
	<div id="path">
		<a href="/projects">Projects</a> → <a href="/project/{{ project.url }}">{{ project.title }}</a>
	</div>
{% endif %}
<h1>{{ title }}
	<div id="menu-dots">
		<div class="drop-down" id="menu-dots-drop">
			<div class="drop-down-element" id="share-btn"><img src="../../assets/global/icons/share.svg">Share</div>
			<div class="drop-down-element" id="view-on-github-btn">
				<a href="https://github.com/MindLabor/mindlabor.dev/blob/master/md_project/{{ project.url }}/{{ url }}.md" target="_blank" rel="noopener noreferrer nofollow">
					<img src="../../assets/global/icons/github-black.svg">View on GitHub
				</a>
			</div>
		</div>
	</div>
</h1>
<div id="written-by">
	<a href="https://github.com/{{ type == "project" ? project.author.github : author.github }}" target="_blank" rel="noopener noreferrer nofollow">
		<img id="p-image" src="https://github.com/{{ type == "project" ? project.author.github : author.github }}.png?size=64"></img>
	</a>
	<nm>Written by </nm>
	<a href="https://github.com/{{ type == "project" ? project.author.github : author.github }}" target="_blank" rel="noopener noreferrer nofollow">{{ type == "project" ? project.author.name : author.name }}</a>
	 • <span id="lesson-date"></span>
</div>
<div id="lesson-content"><!-- AJAX Content --></div>

{% if (prev or next) %}
	<div id="lesson-navigation">
		<div class="round-btn" id="prev-lesson" {% if (not prev) %}style="visibility: hidden;"{% endif %}><a href="/project/{{ project.url }}/{{ prev }}">← Back</a></div>
		<div class="round-btn" id="next-lesson" {% if (not next) %}style="visibility: hidden;"{% endif %}><a href="/project/{{ project.url }}/{{ next }}">Next →</a></div>
	</div>
{% endif %}

<div id=""></div>
<h2>Additional Resources</h2>
<ol>
	{% for r in resources %}
		<li><a href="{{ r.url }}" target="_blank" rel="noopener noreferrer nofollow">{{ r.title }}</a></li>
	{% endfor %}
</ol>

<!-- Future TODO:
<h2>Contributors</h2>
<div id="contributers">
	{# for c in contributors %}
		<div>
			<a href="https://github.com/{{ c.name }}" target="_blank" rel="noopener noreferrer nofollow">
				<img src="https://github.com/{{ c.name }}.png?size=128" alt="{{ c.name }}">
			</a>
		</div>
	{% endfor #}
</div>-->